.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 20px;
}
.error {
  opacity: 0;
}
.input {
  display: block;
  width: 100%;
  background: none;
  padding: 2px 2px 1px;
  border-width: 0 0 1px;
  line-height: 26px;
  height: 30px;
  border-radius: 0;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  float: left;
  border-color: rgba(0, 0, 0, 0.12);
  font-size: 100%;
  color: #666;
  margin-bottom: 10px;
  &::placeholder {
    color: #9d9d9d;
  }
}
.label {
  margin-bottom: 10px;
}
.validError {
  & > .error {
    opacity: 100%;
    color: red;
  }
  & > .label {
    color: red;
  }
  & > .input {
    border-color: red;
  }
}
